    <%= form_with(model: order_detail, local: true) do |form| %>
      <%= form.hidden_field :order_id, id: :order_detail_order_id %>

      <td id="order_detail_index">
      </td>

      <td >
        <%= form.text_field :product_id, id: :order_detail_product_id %>
      </td>

      <td >
        <%= form.number_field :quantity, id: :order_detail_quantity %>
      </td>

      <td >
        <%= form.text_field :amount, id: :order_detail_amount %>
      </td>

      <td>
        <%= form.text_field :mrp, id: :order_detail_mrp %>
      </td>

      <td >
        <%= form.text_field :discount, id: :order_detail_discount %>
      </td>

    <% end %>

