<div class="row seperator">
  <%= form_with(model: order_detail, local: true) do |form| %>

    <%= form.hidden_field :order_id %>

    <div class="col-md-1">
      <%= @local_order_detail_id %>
    </div>

    <div class="col-md-2">
      <%= form.text_field :product_id, id: :order_detail_product_id %>
    </div>

    <div class="col-md-2">
      <%= form.number_field :quantity, id: :order_detail_quantity %>
    </div>

    <div class="col-md-2">
      <%= form.text_field :amount, id: :order_detail_amount %>
    </div>

    <div class="col-md-2">
      <%= form.text_field :mrp, id: :order_detail_mrp %>
    </div>

    <div class="col-md-2">
      <%= form.text_field :discount, id: :order_detail_discount %>
    </div>

  <% end %>
</div>