<h1>Billing</h1>

<div class="row seperator">
  <div class="col-md-6 vcenter">
      <strong>Bill no : </strong>
      <span><%= @order.id %></span>
  </div><!--
    --><div class="col-md-6 vcenter">
      <strong>Processed by : </strong>
      <span><%= @order.user.name %></span>
  </div>
</div>

<div class="row seperator">
  <div class="col-md-4 vcenter" >
      <strong>Customer no : </strong>
      <span><%= @order.customer.id %></span>
  </div><!--
--><div class="col-md-4 vcenter">
      <strong>Name : </strong>
      <input id="customersSearchByNameInput"><%= @order.customer.name %></input>
  </div><!--
--><div class="col-md-4  vcenter">
      <strong>Phone : </strong>
      <input id="customersSearchByPhoneInput"><%= @order.customer.name %></input>
  </div>
</div>

<%= render 'form', order: @order %>

<br/>