<h1>Billing</h1>

<div class="row seperator">
  <div class="col-md-6 vcenter">
      <strong>Bill no : </strong>
      <span><%= @order.id %></span>
  </div><!--
    --><div class="col-md-6 vcenter">
      <strong>Processed by : </strong>
      <span><%= @order.user.name %></span>
  </div>
</div>

<div class="row seperator">
  <div class="col-md-4 vcenter" >
      <strong>Customer no : </strong>
      <span id="customerId"><%= @order.customer.id %></span>
  </div><!--
--><div class="col-md-4 vcenter">
      <strong>Name : </strong>
      <input id="customersSearchByNameInput"><%= @order.customer.name %></input>
  </div><!--  
--><div class="col-md-4  vcenter">
      <strong>Phone : </strong>
      <input id="customersSearchByPhoneInput"><%= @order.customer.name %></input>
  </div>
</div>

<div class="row headerText" style="margin-top: 50px" >
  <div class="col-md-1">#</div>
  <div class="col-md-2">Product id</div>
  <div class="col-md-2">Description</div>
  <div class="col-md-2">Rate</div>
  <div class="col-md-2">Quantity</div>
  <div class="col-md-2">Amount</div>
</div>

<% 
  @order_detail = OrderDetail.new :order_id=>@order.id  
  @local_order_detail_id = 1;
%>

<%= render 'order_details/form', order_detail: @order_detail %>

<br/>