<h1>Billing</h1>

<div class="row seperator">
  <div class="col-md-6 vcenter">
      <strong>Bill no : </strong>
      <span><%= @order.id %></span>
  </div><!--
    --><div class="col-md-6 vcenter">
      <strong>Processed by : </strong>
      <span><%= @order.user.name %></span>
  </div>
</div>

<div class="row seperator">
  <div class="col-md-4 vcenter" >
      <strong>Customer no : </strong>
      <span id="customerId"><%= @order.customer.id %></span>
  </div><!--
--><div class="col-md-4 vcenter">
      <strong>Name : </strong>
      <input class="customerSearch" id="customersSearchByNameInput" by="name" ><%= @order.customer.name %></input>
  </div><!--  
--><div class="col-md-4  vcenter">
      <strong>Phone : </strong>
      <input class="customerSearch" id="customersSearchByPhoneInput" by="phone" ><%= @order.customer.name %></input>
  </div>
</div>

<div id="order_detail_table" class="seperator table">
  <div class="tr font-weight-bold">
    <span class="td">Product id</span>
    <span class="td">Product Name</span>
    <span class="td">Quantity</span>
    <span class="td">Mrp</span>
    <span class="td">Discount</span>
    <span class="td">Amount</span>
  </div>
</div>

<div id="total_amount_div" class="row hidden">
  <div class="col-md-12 vcenter text-right font-weight-bold">
    <span>Total : </spam>
    <span id="total_amount"></span>
  </div>
</div>

<div class="row">
  <div class="col-md-12 vcenter text-center">
    <button>Bill</button>
  </div>
</div>

<%= render 'order_details/form', order_detail: OrderDetail.new %>


<br/>