<nav class="navbar navbar-inverse  navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
     <%= link_to "Homekart", root_path, :class => 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <% if logged_in? %>
          <li><%= link_to "New Categorty", new_category_path %></li>
          <li><%= link_to "New Product", new_product_path %></li>
          <% if can? :read, User %>
            <li><%= link_to "Users", users_path %></li>
          <% end %>
          <% if can? :manage, Tax %>
            <li><%= link_to "Tax", taxes_path %></li>
          <% end %>
        <% end %>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if !logged_in? %>
          <li><%= link_to "Login", login_path %></li>
        <% end %>

        <% if logged_in? %>
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>